name: Deploy Node App to ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region us-east-1 \
        | docker login \
        --username AWS \
        --password-stdin 976193264242.dkr.ecr.us-east-1.amazonaws.com

    - name: Build Docker image
      run: docker build -t node-cicd-app:v1.0.1

    - name: Tag image
      run: |
        docker tag node-cicd-app:v1.0.1 \
        976193264242.dkr.ecr.us-east-1.amazonaws.com/node-cicd-repo:v1.0.1

    - name: Push image
      run: |
        docker push \
        976193264242.dkr.ecr.us-east-1.amazonaws.com/node-cicd-repo:v1.0.1

    - name: Force ECS deployment
      run: |
        aws ecs update-service \
        --cluster node-cicd-cluster-1 \
        --service node-cicd-service \
        --force-new-deployment
